# Uncomment these types if you want even more clean repository. But be careful.
# It can make harm to an existing project source. Read explanations below.
#
cromwell-executions/**
latest/**
cromwell-workflow-logs/**
